#* @vtlvariable name="clients" type="org.pac4j.core.client.Clients" *#
<!DOCTYPE html>

<html lang="en">
<head>
  <title>Marid IDE</title>

  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"/>

  <link rel="icon" type="image/png" href="marid32.png">
  <link rel="stylesheet" type="text/css" href="login.css">
</head>

<body>

<img src="marid100.png" width="100" height="100" alt="marid">

<div id="adBody">
  <div id="header">Marid IDE</div>
  <div id="ad">Spirit Driven Development</div>
  <div id="auth">
    #foreach($client in ${clients.clients})
        <a href="/${client.name}"><img src="${client.name}.svg" width="32" height="32"></a>
    #end
  </div>
</div>
</body>
</html>