$v-bevel-depth: 10%;
$v-gradient: v-linear 12%;
$v-border-radius: 5px;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-unit-size: 30px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;
$v-font-size: 14px;

@import "../valo/valo";

@mixin marid {
  @include valo;
}