<div style="display: flex; flex-direction: column; justify-content: space-between; align-items: stretch">
    <script>
        function onLoad(div) {
          const parent = div.parentElement;
          parent.addEventListener("resize", e => {
            div.style.width = parent.clientWidth;
            div.style.height = parent.clientHeight;
          });
        }
    </script>
    <div data-location="top"></div>
    <div data-location="center" style="flex-grow: 1"></div>
    <div data-location="bottom" onload="onLoad(this.parentElement)"></div>
</div>